@model LMS.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}



<div class="container col-md-12 text-center">
    <br/>
    <h2 class="text-center">@ViewBag.Title</h2>
    <br/>
    <h4>We received the following message: </h4>
    <br/>
    <p class="text-center">@Model.Message</p>
    <br/>
    <h4>We will respond as soon as we can to @Model.Email  . Thank you for contacting our team!</h4>
    <img src="~/Content/img/emailconfirm.jfif" alt="email confirmation" height="400" width="300" />
    <br/>
    <br/>
    <br/>
</div>
