<!-- Start Banner Hero -->
<div class="banner-wrapper bg-light">
    <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">

        <!-- Start slider -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                Develop <strong>Strategies</strong> For
                                <br>Your <strong>Survival</strong>
                            </h1>
                            <p class="banner-body text-muted py-3 mx-0 px-0">
                                With Courses and Lessons covering various aspects of undergoing a coding bootcamp, being a new dev, and going out into the world in your first dev job, our Survival Kit will teach you all you need to know.
                            </p>
                            <a class="banner-button btn rounded-pill btn-primary btn-lg px-4" href="@Url.Action("Login", "Account")" role="button">Get Started</a>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">

                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-3 mx-0 px-0 light-300">
                                Take on your coding bootcamp with insider tips and training
                            </h1>
                            <p class="banner-body text-muted py-3">
                                With help from current & former bootcamp grads, along with real-life developers,  you will gain priceless insights and become well prepared to leave the nest and conquer the job market.
                            </p>
                            <a class="banner-button btn rounded-pill btn-primary btn-lg px-4" href="@Url.Action("Login", "Account")" role="button">Get Started</a>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">

                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-3 mx-0 px-0 light-300">
                                Favorite quote from Ada Lovelace:
                            </h1>
                            <p class="banner-body text-muted py-3">
                                "I never am really satisfied that I understand anything; because, understand it well as I may, my comprehension can only be an infinitesimal fraction of all I want to understand about the many connections and relations which occur to me."
                            </p>
                            <a class="banner-button btn rounded-pill btn-primary btn-lg px-4" href="@Url.Action("Login", "Account")" role="button">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
            <a class="carousel-control-prev text-decoration-none" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <i class='bx bx-chevron-left'></i>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next text-decoration-none" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <i class='bx bx-chevron-right'></i>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
        <!-- End slider -->

    </div>
</div>
<!-- End Banner Hero -->
<!-- Start Service -->
<!-- Start Recent Work -->
<section class="py-5 mb-5">
    <div class="container">
        <div class="recent-work-header row text-center pb-5">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">A sampling of our Courses:</h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-4">

            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a @*href="#"*@ class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="~/Content/img/goodstudent.jpg" height="400" alt="How to be a good student course">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">How To Be A Good Student</h3>
                            @*<p class="card-text">Ullamco laboris nisi ut aliquip ex</p>*@
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a @*href="#"*@ class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="~/Content/img/organized.jpg" height="400" alt="Insider tips for surviving a coding bootcamp course">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Getting Organized</h3>
                            @*<p class="card-text">Psum officia anim id est laborum.</p>*@
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a @*href="#"*@ class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="~/Content/img/2anothertestimg.jpg" alt="Coding-Specific topics course">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Coding-Specific Topics</h3>
                            @*<p class="card-text">Sum dolor sit consencutur</p>*@
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a @*href="#"*@ class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" height="400" src="~/Content/img/coworker.jpg" alt="How to be a good coworker course">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">How To Be A Good Coworker</h3>
                            @*<p class="card-text">Lorem ipsum dolor sit amet</p>*@
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a @*href="#"*@ class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="~/Content/img/This-is-Fine-300x300.jpg" alt="Mental fortitude for the bootcamp student course">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Mental Fortitude For The Bootcamp Student</h3>
                            @*<p class="card-text">Put enim ad minim veniam</p>*@
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a @*href="#"*@ class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="~/Content/img/1coursetest.png" alt="All the answers to all coding challenges course">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">All The Answers To All Coding Challenges</h3>
                            @*<p class="card-text">Mollit anim id est laborum.</p>*@
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

        </div>
    </div>
</section>
<!-- End Service -->
<!-- Start View Work -->
<section class="bg-secondary justify-content-center">
    <div class="container py-5 justify-content-evenly">
        @*<div class="col-lg-2 col-12 text-light align-items-center">
                @*<i class='display-1 bx bxs-box bx-lg'></i>
            </div>*@@*<div class="col-lg-2 col-12 text-light align-items-center">*@
            @*<i class='display-1 bx bxs-box bx-lg'></i>*@

            <h3 class="h4 light-300 text-center">Quality Learning Management System</h3>
            <p class="light-300 text-center">Courses and Lessons you'll love to learn with!</p>

        </div>
    </section>

    <section class="service-wrapper py-3">

        <div class="container">
            <div class="recent-work-header row text-center pb-5">
                <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">A sampling of our Lessons:</h2>
            </div>
        </div>

    </section>

    <section class="container overflow-hidden py-5">
        <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
                <a @*href="#"*@ class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="service card-img" src="~/Content/img/loops.jpg" alt="Loops lesson">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Loops</span>
                            <p class="card-text">for, foreach, dowhile--you should be dizzy by the end of this lesson</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
                <a @*href="#"*@ class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="~/Content/img/imposter.png" alt="Imposter syndrome lesson">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Imposter Syndrome</span>
                            <p class="card-text">Yes, you've heard it mentioned 1,000 times but it will totally happen</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project branding">
                <a @*href="#"*@ class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="~/Content/img/type.png" alt="Keep going lesson">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Keep Going</span>
                            <p class="card-text">How to type while crying, and through other obstacles</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
                <a @*href="#"*@ class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="~/Content/img/abc.jpeg" alt="Always be coding lesson">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Always Be Coding</span>
                            <p class="card-text">Have your nose to the keyboard and get those reps in</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
                <a @*href="#"*@ class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="~/Content/img/bff.png" alt="Trello: Your BFF lesson">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Trello Boards:  Your BFF</span>
                            <p class="card-text">Using Trello, a kanban board, to stay on top of your stuff</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project branding">
                <a @*href="#"*@ class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="~/Content/img/microwave.jpg" alt="What Not To Microwave lesson">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">What Not To Microwave</span>
                            <p class="card-text">Learn what items to never microwave at work</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project branding">
                <a @*href="#"*@ class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="~/Content/img/JS.PNG" alt="JavaScript lesson">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">JavaScript</span>
                            <p class="card-text">The more you learn, the less it makes sense</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic branding">
                <a @*href="#"*@ class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="~/Content/img/nothing.png" alt="">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Welcome To Knowing Nothing</span>
                            <p class="card-text">Learn how to get used to feeling uncomfortable.</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

        </div>
    </section>
    <!-- End View Work -->
    <!-- End Recent Work -->
